.contenedorSpinner{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .spinner-border{
            width: 100px;
            height: 100px;
      }
}

