.contenedorSpinner{
      width: 100vw;
      min-height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .spinner-grow{
            height: 5rem;
            width: 5rem;
            margin: 1rem;
      }
}

