.contenedorCarrito{
      .iconoCarrito{
            color: white;
            font-size: 5rem;
      }

      .contenedorCarrito__contador{
            color: #fff;
            font-size: 2rem;
      }
}