.item-detail{
      text-align: center;
      width: 50%;
      background-color: white;
      border-radius: 1rem;
      padding: 1rem;
      font-size: 1.5rem;

      .item-detail__imagen{
            width: 300px;
            height: 300px;
      }
      .item-detail__titulo{
            font-size: 2rem;
            font-weight: bold;
      }
      .item-detail__precio{
            color: red;
            font-weight: bold;
      }
      .item-detail__description{
            color: gray;
      }
}