.container-checkout{
      height: 78vh;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}