.header{
      .navBar{
            height: 20vh;

            &.bg-dark{
                  background-color:transparent!important;
            }

            .contenedorNavBar{
                  display: flex;
                  justify-content: space-between;
            }
      }
}