@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.contenedorLogo{
      // font-family: $font-family3;
      font-family: 'Lobster', cursive;
      color: white;
      display: flex;

      .imagenLogo{
            width: 15rem;
            height: 15rem;
      }

      .contenedorTitulo{
            align-self: center;
            justify-self: center;

            .tituloLogo{
                  font-size: 4rem;
                  
            }
      }

      
}