.cart-header{
      height: 10vh;
      width: 100%;
      background-color: #fff;
      display: flex;
      justify-content: right;
      align-items: center;
      border-radius: 10px;

      .cart-header__button{
            display: flex;
            justify-content: center;
            align-items: center;

            .cart-header__text{
                  font-size: 25px;
                  margin-right: 10px;
            }
            .cart-header__icon{
                  font-size: 25px;

            }
      }
}